# Общие настройки
DB_DRIVER=  # pgsql | mysql | sqlite
DB_NAME=
DB_USER=
DB_PASSWORD=

# Для PostgreSQL
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=

# Для MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# Для SQLite
DB_PATH=